<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
  <div class="row">
    <div class="col-12">
      <div class="card profile-with-cover">
        <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
        <div class="media profil-cover-details row">
          <div class="col-5">
            <div class="align-self-start halfway-fab pl-3 pt-2">
              <div class="text-left">
                <h3 class="card-title white">{{profileDetilas.first_name }} {{profileDetilas.last_name}}</h3>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                <img src="assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
              </a>
            </div>
          </div>
          <div class="col-5">
          </div>
        </div>
        <div class="profile-cover-buttons">
          <div class="media-body halfway-fab align-self-end">
            <div class="text-right d-none d-sm-none d-md-none d-lg-block">
              <!-- <button type="button" class="btn btn-primary btn-raised mr-2">
                  <i class="fa fa-plus"></i> Follow</button>
                <button type="button" class="btn btn-success btn-raised mr-3">
                  <i class="fa fa-dashcube"></i> Message</button> -->
            </div>
            <div class="text-right d-block d-sm-block d-md-block d-lg-none">
              <button type="button" class="btn btn-primary btn-raised mr-2">
                <i class="fa fa-plus"></i>
              </button>
              <button type="button" class="btn btn-success btn-raised mr-3">
                <i class="fa fa-dashcube"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="profile-section">
          <div class="row">
            <div class="col-lg-5 col-md-5 ">
              <ul class="profile-menu no-list-style">
                <!-- <li>
                                      <a (click)="showPage('About')" [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">About</a>
                                  </li>
                                  <li>
                                      <a (click)="showPage('TimeLine')" [ngClass]="currentPage === 'TimeLine' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Timeline</a>
                                  </li> -->
              </ul>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
              <span class="font-medium-2 text-uppercase">{{profileDetilas.first_name }} {{profileDetilas.last_name}}</span>
              <p class="grey font-small-2">{{profileDetilas.role }} </p>
            </div>
            <div class="col-lg-5 col-md-5">
              <ul class="profile-menu no-list-style">
                <!-- <li>
                                      <a (click)="showPage('Friends')" [ngClass]="currentPage === 'Friends' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Friends</a>
                                  </li>
                                  <li>
                                      <a (click)="showPage('Photos')" [ngClass]="currentPage === 'Photos' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Photos</a>
                                  </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about">

  <div class="row">
    <div class="col-12">
      <div class="content-header">About</div>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="brandDetilas" method="post" style="width: 100%">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Personal Information</h5>
          </div>
          <div class="card-body">
            <div class="card-block">
              <div class="mb-3">
                <span class="text-bold-500 primary">About Me:</span>
                <!-- <span class="display-block overflow-hidden">Hi, I’m Jose, I’m 29 and I work as a Ninja Developer for the
                                  “PIXINVENT” Creative Studio. In my research, I follow the flow of early medieval slavery from viking 
                                  raids in the west, through the booming ports of the Scandinavian north, and out into the Islamic world.
                                  Reading texts against the grain and seeing artifacts as traces of the past can make their lives once 
                                  again visible to us today. This website documents my efforts to do just that, and I hope it will prove 
                                  a resource and an inspiration for others in similar pursuits.
                              </span> -->
              </div>
              <hr>

              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="icon-present font-small-3"></i> *First Name:</a>
                        </span>
                        <input type="text" class="form-control" formControlName="first_name" required="required" name="title" id="title" placeholder="First Name"
                          required>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-map-pin font-small-3"></i> *Business Email:</a>
                        </span>
                        <input type="text" class="form-control" required="required" formControlName="email_id" name="email" id="title" placeholder="Email Id"
                          required>
                      </div>

                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-globe font-small-3"></i> Position:</a>
                        </span>
                        <input type="text" class="form-control" formControlName="position" name="position" id="title" placeholder="Position">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <div class="form-group">

                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-user font-small-3"></i>*Last Name::</a>
                        </span>
                        <input type="text" class="form-control" required="required" formControlName="last_name" name="last_name" id="title" placeholder="Last Name"
                          required>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-mail font-small-3"></i> Phone:</a>
                        </span>
                        <input type="text" class="form-control" formControlName="phone" name="phone" id="title" placeholder="Phone">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <hr>

              <!-- <div class="mt-3">
                              <span class="text-bold-500 primary">Hobbies:</span>
                              <span class="display-block overflow-hidden">I like to ride the cycle to work, swimming, listning music and 
                                  working out. I also like reading magazines, go to museums, watching good movies and eat spicy food while 
                                  it’s raining outside.Twin siblings Dipper and Mabel Pines spend the summer at their uncle's tourist trap 
                                  in the enigmatic town of Gravity Falls.A mysterious Hollywood stuntman and mechanic moonlights as a 
                                  getaway driver.Scuba Diving, Skiing, Surfing, Photography, Long drive.
                              </span>
                          </div> -->
              <!-- <div class="mt-2 overflow-hidden">
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-plane danger font-large-2"></i> <div class="mt-2">Travelling</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-speedometer danger font-large-2"></i> <div class="mt-2">Driving</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-camera danger font-large-2"></i> <div class="mt-2">Photography</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-game-controller danger font-large-2"></i> <div class="mt-2">Gaming</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-music-tone-alt danger font-large-2"></i> <div class="mt-2">Music</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-monitor danger font-large-2"></i> <div class="mt-2">Surfing</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-pie-chart danger font-large-2"></i> <div class="mt-2">Foodie</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-tv danger font-large-2"></i> <div class="mt-2">TV</div></span>
                              <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-basket-loaded danger font-large-2"></i> <div class="mt-2">Shopping</div></span>
                          </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Company Information</h5>
          </div>
          <div class="card-body">
            <div class="card-block">
              <div class="mb-3">
                <span class="text-bold-500 primary">Company Information:</span>
                <!-- <span class="display-block overflow-hidden">Hi, I’m Jose, I’m 29 and I work as a Ninja Developer for the
                                    “PIXINVENT” Creative Studio. In my research, I follow the flow of early medieval slavery from viking 
                                    raids in the west, through the booming ports of the Scandinavian north, and out into the Islamic world.
                                    Reading texts against the grain and seeing artifacts as traces of the past can make their lives once 
                                    again visible to us today. This website documents my efforts to do just that, and I hope it will prove 
                                    a resource and an inspiration for others in similar pursuits.
                                </span> -->
              </div>
              <hr>

              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="icon-present font-small-3"></i> *Company Name:</a>
                        </span>
                        <input type="text" class="form-control" formControlName="company_name" required="required" name="title" id="title" placeholder="Company Name"
                          required>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-map-pin font-small-3"></i> *Country:</a>
                        </span>
                        <select class="form-control" formControlName="country">
                          <option value="">Select country</option>
                          <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
                        </select>
                      </div>

                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-globe font-small-3"></i> City:</a>
                        </span>
                        <input type="text" class="form-control" formControlName="city" name="title" id="title" placeholder="City">
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-globe font-small-3"></i> Business Sector:</a>
                        </span>
                        <input type="text" class="form-control" name="title" id="title" formControlName="business_sector" placeholder="Business Sector">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <div class="form-group">

                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-user font-small-3"></i> URL:</a>
                        </span>
                        <input type="text" class="form-control" required="required" name="title" id="title" placeholder="Title" required>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-mail font-small-3"></i> *No of Employees:</a>
                        </span>
                        <input type="number" class="form-control" required="required" name="title" id="title" formControlName="no_of_employees" placeholder="No of Employees"
                          required>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="form-group">
                        <span class="text-bold-500 primary">
                          <a>
                            <i class="ft-mail font-small-3"></i> Budget(Monthly):</a>
                        </span>
                        <input type="text" class="form-control" required="required" name="title" id="title" formControlName="monthly_budget" placeholder="Budget(Monthly)"
                          required>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <hr>

              <!-- <div class="mt-3">
                                <span class="text-bold-500 primary">Hobbies:</span>
                                <span class="display-block overflow-hidden">I like to ride the cycle to work, swimming, listning music and 
                                    working out. I also like reading magazines, go to museums, watching good movies and eat spicy food while 
                                    it’s raining outside.Twin siblings Dipper and Mabel Pines spend the summer at their uncle's tourist trap 
                                    in the enigmatic town of Gravity Falls.A mysterious Hollywood stuntman and mechanic moonlights as a 
                                    getaway driver.Scuba Diving, Skiing, Surfing, Photography, Long drive.
                                </span>
                            </div> -->
              <!-- <div class="mt-2 overflow-hidden">
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-plane danger font-large-2"></i> <div class="mt-2">Travelling</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-speedometer danger font-large-2"></i> <div class="mt-2">Driving</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-camera danger font-large-2"></i> <div class="mt-2">Photography</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-game-controller danger font-large-2"></i> <div class="mt-2">Gaming</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-music-tone-alt danger font-large-2"></i> <div class="mt-2">Music</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-monitor danger font-large-2"></i> <div class="mt-2">Surfing</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-pie-chart danger font-large-2"></i> <div class="mt-2">Foodie</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="ft-tv danger font-large-2"></i> <div class="mt-2">TV</div></span>
                                <span class="mr-3 mt-2 text-center float-left width-100"> <i class="icon-basket-loaded danger font-large-2"></i> <div class="mt-2">Shopping</div></span>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
